input[type=text] {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #dde3ee;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0.25rem 1rem;
}

.matcher-item {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  grid-gap: 1rem;
  align-items: center;
}

.reorder-buttons {
  display: grid;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.matcher-item:hover .reorder-buttons {
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.add-new-button {
  margin-left: 3rem;
  margin-top: 1rem
}

.customAccordionSpacing {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}